#ttl{
  margin-top: 10%;
  top: 10%;
  font-size: 80px;
  width:60%;
}
#space{
  margin-top: 40%;
}

.logo{
  margin-top: 21.3%;
  margin-left: 80.6%;
}
.text{
  font-size: 20px;
  font-weight: bold;
  color:#439e6c
}
.ntext{
  color:#4caf50;
}

.backgroundcolor{
  background-color:rgb(255, 250, 234);
}

.t{
  position: absolute;
  top: 37%;
  display: flex;
  text-align: justify;
  width: 40%;
  height: 160px;
  justify-content: space-between;
}

.box {
  background-color: rgb(255, 255, 255);
  width: 160px;
  text-align: center;
  line-height: 30px;
}

.box p {
  top: 30%;
  position: relative;
  font-size: 60px;
  font-weight: bold;
  color:rgb(14, 53, 0)
}

.box span{
  top: 30%;
  position: relative;
}

.App {
  text-align: center;
}

.apply-page{
  background-color:rgb(255, 245, 214);
  color:#1f4220;
  text-align:left;
  padding-top:5%;
  padding-bottom:5%;
  padding-left: 30%;
  padding-right: 38%;
}

.about-us{
  color:#1f4220;
  text-align:left;
  padding-top:8%;
  padding-bottom:8%;
  padding-left: 30%;
  padding-right: 20%;
}

.about-us h1{
  font-weight: bold;
}

.about-us h2{
  font-weight: bold;
  font-size: 25px;
}

.headerText{
  line-height: 40px;
  font-weight: bold; 
  font-size: 50px;
  color:#1f4220;
}

.cover {
  margin-top: 12%;
  width:100%;
  height:100%;
  background-image: url('https://github.com/pennapps/frontend-challenge/blob/main/assets/landing-background.png?raw=true');
  background-size: cover;
}

.footer{
  width:100%;
  background-image: url('https://github.com/pennapps/frontend-challenge/blob/main/assets/footer-background.png?raw=true');
  height:500px;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 20px 20px;
  margin-top: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.timerbox {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}



